.table-responsive{:id => id, 'data-length' => model.properties.length, 'data-page' => model.properties.page, 'data-page-size' => model.properties.page_size, 'data-page-first' => model.properties.page_first, 'data-page-last' => model.properties.page_last}
  %table.table.align-items-center
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Created at
        %th{:scope => "col"} Products
        %th{:scope => "col"} Total sales
        %th{:scope => "col"} Activity
        %th{:scope => "col"}
    %tbody
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-1-800x800.jpg"}
                %span.avatar-child.avatar-badge.bg-success
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} John Sullivan
              %small.d-block.font-weight-bold #1001
        %td
          10/09/2018
        %td
          15
        %td
          $1035,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "success", "data-dataset" => "[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-2-800x800.jpg"}/
                %span.avatar-child.avatar-badge.bg-warning
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} Heather Wright
              %small.d-block.font-weight-bold #1002
        %td
          08/09/2018
        %td
          30
        %td
          $2070,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "warning", "data-dataset" => "[58, 76, 13, 59, 17, 76, 13, 13, 21, 94, 49]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-3-800x800.jpg"}/
                %span.avatar-child.avatar-badge.bg-danger
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} James Lewis
              %small.d-block.font-weight-bold #1003
        %td
          30/08/2018
        %td
          45
        %td
          $3105,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "primary", "data-dataset" => "[42, 55, 19, 16, 84, 24, 10, 11, 93, 15, 81]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-4-800x800.jpg"}/
                %span.avatar-child.avatar-badge.bg-success
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} Martin Gray
              %small.d-block.font-weight-bold #1004
        %td
          08/09/2018
        %td
          60
        %td
          $4140,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "info", "data-dataset" => "[25, 66, 41, 89, 63, 25, 44, 12, 36, 9, 54]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-5-800x800.jpg"}
                %span.avatar-child.avatar-badge.bg-success
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} John Snow
              %small.d-block.font-weight-bold #1005
        %td
          08/09/2018
        %td
          75
        %td
          $5175,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "primary", "data-dataset" => "[51, 61, 45, 66, 48, 40, 68, 83, 27, 78, 48]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-1-800x800.jpg"}
                %span.avatar-child.avatar-badge.bg-success
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} John Michael
              %small.d-block.font-weight-bold #1006
        %td
          10/09/2018
        %td
          90
        %td
          $6210,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "success", "data-dataset" => "[94, 34, 96, 74, 36, 97, 15, 26, 54, 97, 23]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-2-800x800.jpg"}
                %span.avatar-child.avatar-badge.bg-warning
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} Monroe Parker
              %small.d-block.font-weight-bold #1007
        %td
          08/09/2018
        %td
          105
        %td
          $7245,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "danger", "data-dataset" => "[64, 56, 61, 42, 42, 63, 18, 96, 19, 36, 87]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash
      %tr
        %th{:scope => "row"}
          .media.align-items-center
            %div
              .avatar-parent-child
                %img.avatar.rounded-circle{:alt => "Image placeholder", :src => "../../assets/img/theme/light/team-3-800x800.jpg"}
                %span.avatar-child.avatar-badge.bg-danger
            .media-body.ml-4
              %a.name.h6.mb-0.text-sm{:href => "#"} Danielle Levin
              %small.d-block.font-weight-bold #1008
        %td
          30/08/2018
        %td
          120
        %td
          $8280,00
        %td
          %div{:style => "max-width: 100px;"}
            .spark-chart{"data-color" => "primary", "data-dataset" => "[98, 25, 62, 42, 94, 65, 21, 85, 76, 86, 41]", "data-height" => "30", "data-toggle" => "spark-chart", "data-type" => "line"}
        %td.text-right
          .actions.ml-3
            %a.action-item.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Edit"}
              %i.fa.fa-pencil-alt
            %a.action-item.text-danger.mr-2{"data-toggle" => "tooltip", :href => "#", :title => "Move to trash"}
              %i.fa.fa-trash

  = partial :'../shared/partials/pagination', :locals => { :_for => '#' + id, :url => url, :properties => model.properties }