html {
    height: 100%;
}

body {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.error-container {
    display: table-cell;
    vertical-align: middle;
}

.error-container .inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

.error-container .inner h1 {
    font-size: 145px;
}