.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #252830;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
a.label:hover,
a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.label:empty {
    display: none;
}
.btn .label {
    position: relative;
    top: -1px;
}
.label-primary {
    background-color: #1997c6;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #157da4;
}
.label-secondary {
    background-color: #868e96;
}
.label-secondary[href]:hover,
.label-secondary[href]:focus {
    background-color: #727b84;
}
.label-success {
    background-color: #1bc98e;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #16a776;
}
.label-danger {
    background-color: #e64759;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #e1253b;
}
.label-warning {
    background-color: #e4d836;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #d7ca1d;
}
.label-info {
    background-color: #9f86ff;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #8160ff;
}
.label-light {
    background-color: #f8f9fa;
}
.label-light[href]:hover,
.label-light[href]:focus {
    background-color: #e2e6ea;
}
.label-dark {
    background-color: #1a1c22;
}
.label-dark[href]:hover,
.label-dark[href]:focus {
    background-color: #090a0c;
}
.label-link {
    background-color: transparent;
    color: #1997c6;
}
.label-link[href]:hover,
.label-link[href]:focus {
    background-color: transparent;
}