.dashhead
  .dashhead-titles.mb-3
    %h6.dashhead-subtitle Notifications
    %h2.dashhead-title List
= partial :'/partials/list', :locals => { :id => 'alerts', :url => '/notifications', :alerts => alerts }