.dashhead
  .dashhead-titles.mb-3
    %h6.dashhead-subtitle Alerts
    %h2.dashhead-title Alert history
= partial :'/partials/list', :locals => { :id => 'alerts', :url => '/notifications', :alerts => alerts }