.cover-wrapper
  .cover-wrapper-inner.baseline
    .cover-container
      .cover-inner
        %div.text-center.mt-5.mb-5
          %h1 Obscured.AptWatcher
          %p.lead
            To continue to the setup,
            %code Doorman
            kind of demands the setup secret.

        .card.card-identity.mb-3
          .card-mask#userMask
            %span

          %form#formSetup.mt-4{:action => '/setup', :method => 'POST'}
            - if flash[:error]
              %p.text-center.text-danger= flash[:error]
            .form-group
              %label.sr-only{:for => 'secret'} Secret
              %input.form-control{:autofocus => 'true', :name => 'secret', :placeholder => 'Enter the secret', :type => 'text', :value => '', 'data-rule-required' => 'true'}

            %button.btn.btn-success.btn-block.mb-4{:type => 'submit'} Next

:javascript
  jQuery(document).ready(function() {
    jQuery('#formSetup').validate();
  });