.min-vh-100.py-5.d-flex.align-items-center
  .w-100
    .row.justify-content-center
      .col-sm-8.col-lg-5
        .card.shadow.zindex-100.mb-0
          .card-body.px-md-5.pl-5.pr-5.pt-5.pb-5
            %h6.h3 Plugins
            %p.text-muted.mb-0 Install one or more plugins, you can install and uninstall these later as well.

          %form{:action => '/setup/plugins', :method => 'POST', :role => "form"}
            = partial :'../shared/partials/alerts'
            %table.table.align-items-center
              %tbody
                - plugins.each do |plugin|
                  %tr
                    %td
                      %button.btn.btn-sm.btn-secondary.btn-icon.rounded-pill{:type => "button"}
                        %span.btn-inner--icon
                          %i.fa.fa-download
                        %span.btn-inner--text Install
                    %td
                      %span.name= plugin.name
                    %td
                      .d-flex.align-items-center.justify-content-end
                        %button.btn.btn-sm.btn-soft-warning.btn-icon.rounded-pill{:type => "button", :style => "display: none;"}
                          %span.btn-inner--icon
                            %i.fa.fa-plus
                          %span.btn-inner--text Pay now
                        .actions.ml-3
                          %a.action-item.mr-2{"data-original-title" => "Settings", "data-toggle" => "tooltip", :href => "#", :title => ""}
                            %i.fa.fa-cog


            .card-footer.px-md-5.pl-5.pr-5.pt-5.pb-5.mt-0
              %button.btn.btn-sm.btn-primary.btn-icon.rounded-pill{:type => "submit"}
                %span.btn-inner--text Complete
                %span.btn-inner--icon
                  %i.fas.fa-long-arrow-alt-right

:javascript
  jQuery(document).ready(function() {
    jQuery('form').validate();
  });