.page-content
  .page-title
    .row.justify-content-between.align-items-center
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-start.mb-3.mb-md-0
        .d-inline-block
          %h5.h4.d-inline-block.font-weight-400.mb-0.text-white Hosts
        .align-items-center.ml-4.d-inline-flex
          %span.h4.text-info.mb-0.mr-2= model.items.count
          %span.text-sm.opacity-7.text-white hosts
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-end
        .actions.actions-dark.d-inline-block
          %a.action-item.ml-md-4{:href => "#"}
            %i.fa.fa-file-export.mr-2>
            Export
          %a.action-item.ml-3{:href => "#"}
            %i.fa.fa-cog.mr-2>
            Settings
        %a.btn.btn-sm.btn-white.btn-icon-only.rounded-circle.ml-4{"data-toggle" => "modal", :href => "#modal-host-create"}
          %span.btn-inner--icon
            %i.fa.fa-plus
  .card
    .card-header.actions-toolbar.border-0
      #actions-search.actions-search
        .input-group.input-group-merge.input-group-flush
          .input-group-prepend
            %span.input-group-text.bg-transparent
              %i.fa.fa-search
          %input.form-control.form-control-flush{:placeholder => "Type and hit enter ...", :type => "text"}
          .input-group-append
            %a.input-group-text.bg-transparent{"data-action" => "search-close", "data-target" => "#actions-search", :href => "#"}
              %i.fa.fa-times
      .row.justify-content-between.align-items-center
        .col
          %h6.d-inline-block.mb-0 Projects
        .col.text-right
          .actions
            %a.action-item.mr-3{"data-action" => "search-open", "data-target" => "#actions-search", :href => "#"}
              %i.fa.fa-search
            .dropdown.mr-3
              %a.action-item{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.fa.fa-filter
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-amount-down>
                  Newest
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-alpha-down>
                  From A-Z
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-alpha-up>
                  From Z-A
            .dropdown{"data-toggle" => "dropdown"}
              %a.action-item{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.fa.fa-ellipsis-h
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{:href => "#"} Refresh
                %a.dropdown-item{:href => "#"} Manage Widgets
                %a.dropdown-item{:href => "#"} Settings

    = partial :'/partials/list', :locals => { :id => 'hosts', :url => '/hosts', :model => model }
    = partial :'/partials/create'