.min-vh-100.py-5.d-flex.align-items-center
  .w-100
    .row.justify-content-center
      .col-sm-8.col-lg-4
        .card.shadow.zindex-100.mb-0
          .card-body.px-md-5.py-5
            .mb-5
              %h6.h3 Login
              %p.text-muted.mb-0 Sign in to your account to continue.
            %span.clearfix
            %form.needs-validation{:action => '/doorman/login', :method => 'POST', :role => "form"}
              = partial :'../shared/partials/alerts'
              .form-group
                %label.form-control-label Email address
                .input-group.input-group-merge
                  .input-group-prepend
                    %span.input-group-text
                      %i.fas.fa-user
                  %input#input-email.form-control{:placeholder => "name@example.com", :type => "email", :name => 'user[email]', 'data-rule-required' => 'true'}
              .form-group.mb-4
                .d-flex.align-items-center.justify-content-between
                  %div
                    %label.form-control-label Password
                  .mb-2
                    %a.small.text-muted.text-underline--dashed.border-primary{:href => "/doorman/forgot"} Lost password?
                .input-group.input-group-merge
                  .input-group-prepend
                    %span.input-group-text
                      %i.fas.fa-key
                  %input#input-password.form-control{:placeholder => "Password", :type => "password", :name => 'user[password]', 'data-rule-required' => 'true'}
                  .input-group-append
                    %span.input-group-text
                      %a{"data-target" => "#input-password", "data-toggle" => "password-text", :href => "#"}
                        %i.fas.fa-eye
              .mt-4
                %button.btn.btn-sm.btn-primary.btn-icon.rounded-pill{:type => "submit"}
                  %span.btn-inner--text Sign in
                  %span.btn-inner--icon
                    %i.fas.fa-long-arrow-alt-right
          .card-footer.px-md-5
            %small Not registered?
            %a.small.font-weight-bold{:href => "/doorman/register"} Create account

:javascript
  jQuery(document).ready(function() {
    jQuery('form').validate();
  });