.cover-wrapper
  .cover-wrapper-inner.baseline
    .cover-container
      .cover-inner
        %div.text-center.mt-5.mb-5
          %h1 Obscured.AptWatcher
          %p.lead
            To proceed,
            %code Doorman
            kind of demands you to decide a new password for your account.

        .card.card-identity.mb-3
          .card-mask#userMask
            - if (defined? email) && !email.nil?
              %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(email)}?s=200&d=https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}
            - else
              %span

          %form#formReset.mt-4{:action => '/doorman/reset', :method => 'POST'}
            %input#Email{:name => 'user[email]', :type => 'hidden', :value => email}
            %input#confirmToken{:name => 'user[confirm_token]', :type => 'hidden', :value => confirm_token}
            - if flash[:success]
              %p.text-center.text-success= flash[:success]
            - if flash[:error]
              %p.text-center.text-danger= flash[:error]

            .form-group
              %div#passwordStrength.mb-2
            .form-group
              %label.sr-only{:for => 'user[password]'} Enter new password
              %input.form-control#Password{:autofocus => 'true', :name => 'user[password]', :placeholder => 'Enter new password', :type => 'password', 'data-rule-required' => 'true'}
            .form-group
              %label.sr-only{:for => 'user[password_confirmation]'} Confirm new password
              %input.form-control#ConfirmPassword{:autofocus => 'true', :name => 'user[password_confirmation]', :placeholder => 'Confirm new password', :type => 'password', 'data-rule-required' => 'true'}

            %button.btn.btn-success.btn-pill.btn-block{:type => 'submit'} Next

:javascript
  jQuery(document).ready(function() {
    jQuery('#Email').on('focusout', function(e) {
      var wrapper = jQuery('#userMask'),
          email = jQuery(e.target).val();

      wrapper.html('<img src="http://www.gravatar.com/avatar/' + md5(email) + '?s=200&amp;d=https://ssl.gstatic.com/accounts/ui/avatar_2x.png">')
    });

    jQuery('#formReset').validate({
      rules: {
        "user[password]": {
          maxlength: 22,
          minlength: 6
        },
        "user[password_confirmation]": {
          maxlength: 22,
          minlength: 6,
          equalTo: "#Password"
        }
      }
    });

    Obscured.Password.Attach({username: '#userEmail', element: jQuery('#Password'), template: '#password-progress', wrapper: '#passwordStrength'});
  });