.page-content
  / Page title
  .page-title
    .row.justify-content-between.align-items-center
      .col-md-6.mb-3.mb-md-0
        %h5.h3.font-weight-400.mb-0.text-white= "Morning, #{user.first_name}!"
        %span.text-sm.text-white.opacity-8 Have a nice day!
      = partial :'../shared/partials/setup'
  .row
    .col-xl-8.col-md-6
      .card.card-fluid
        .card-header
          %h6.mb-0 Packages
        .card-body
          #apex-engagement{"data-color" => "primary", "data-height" => "280"}
    .col-xl-4.col-md-6
      .card.card-fluid
        .card-body.text-center.d-flex.flex-column.justify-content-center
          %h5.mb-4 Notifications
          #progress-5.progress-circle.progress-lg.mx-auto{"data-color" => "warning", "data-progress" => "48.22", "data-text" => "141", "data-textclass" => "h1"}
          .d-flex.mt-4
            .col
              %span.d-block.badge.badge-dot.badge-lg.h6
                %i.bg-danger>
                30 errors
              %span.d-block.badge.badge-dot.badge-lg.h6
                %i.bg-warning>
                38 warnings
            .col
              %span.d-block.badge.badge-dot.badge-lg.h6
                %i.bg-success>
                68 solved
              %span.d-block.badge.badge-dot.badge-lg.h6
                %i.bg-warning>
                5 suspended
          %a.btn.btn-block.btn-secondary.mt-auto{:href => "#"} Open insights
  .row
    .col-lg-4.col-sm-6
      .card.card-fluid
        .card-body
          .row.align-items-center.mb-4
            .col-auto
              #progress-1.progress-circle.progress-sm{"data-color" => "success", "data-progress" => "73.13"}
            .col
              %a.d-block.h6.mb-0{:href => "#!"} 98 packages installed
              %a.text-sm.text-muted{:href => "#"} or ignored!
          .row.align-items-center.mb-4
            .col-auto
              #progress-2.progress-circle.progress-sm{"data-color" => "danger", "data-progress" => "9.7"}
            .col
              %a.d-block.h6.mb-0{:href => "#!"} 13 packages pending
              %a.text-sm.text-muted{:href => "#"} or failed!
          .row.align-items-center
            .col-auto
              #progress-3.progress-circle.progress-sm{"data-color" => "warning", "data-progress" => "17.16"}
            .col
              %a.d-block.h6.mb-0{:href => "#!"} 23 packages rejected
              %a.text-sm.text-muted{:href => "#"} or reverted!
          %a.btn.btn-sm.btn-block.btn-secondary.mt-5{:href => "#"} Open insights
    .col-lg-4.col-sm-6
      .card.card-fluid
        .card-body.text-center.d-flex.flex-column.justify-content-center
          %h5.mb-4 Congratulations!
          #progress-4.progress-circle.progress-lg.mx-auto{"data-color" => "primary", "data-progress" => "78", "data-text" => "23", "data-textclass" => "h1"}
          %p.mt-4.mb-0
            Servers where were updated this week.
    .col-lg-4
      .card.card-fluid.bg-gradient-dark.border-0
        .card-header.border-0.pb-0
          %h6.text-white.mb-0
            %span.text-success.mr-2> â—
            Beloved sponsor
        .card-body.text-center
          %a.avatar.avatar-lg.rounded-circle{:href => "#"}
            %img{:src => "/img/brand/webpixels.png"}
          %h5.h6.mt-4.mb-2.text-white Webpixels
          %p.text-sm.mb-0.text-white A unique and beautiful collection of UI elements that are all flexible and modular. A complete and customisable Bootstrap Theme for building the website of your dreams. Not convinced yet?
  .row
    .col-xl-7.d-sm-flex.flex-sm-column
      .row.flex-sm-fill
        .col-sm-4
          .card.card-fluid
            .card-body.text-center
              .avatar-parent-child
                %a.avatar.avatar-lg.bg-primary.rounded-circle.text-white{:href => "#"} PN
                %span.avatar-child.avatar-badge.bg-success
              %h5.h6.mt-4.mb-4 Pippin
              .actions.d-flex.justify-content-between.px-4
                %a.action-item{:href => "#"}
                  %i.fa.fa-clipboard-list
                %a.action-item{:href => "#"}
                  %i.fa.fa-bullhorn
                %a.action-item{:href => "#"}
                  %i.fa.fa-calculator
        .col-sm-4
          .card.card-fluid
            .card-body.text-center
              .avatar-parent-child
                %a.avatar.avatar-lg.bg-info.rounded-circle.text-white{:href => "#"} BR
                %span.avatar-child.avatar-badge.bg-success
              %h5.h6.mt-4.mb-4 Boromir
              .actions.d-flex.justify-content-between.px-4
                %a.action-item{:href => "#"}
                  %i.fa.fa-clipboard-list
                %a.action-item{:href => "#"}
                  %i.fa.fa-bullhorn
                %a.action-item{:href => "#"}
                  %i.fa.fa-calculator
        .col-sm-4
          .card.card-fluid
            .card-body.text-center
              .avatar-parent-child
                %a.avatar.avatar-lg.bg-dark.rounded-circle.text-white{:href => "#"} SE
                %span.avatar-child.avatar-badge.bg-danger
              %h5.h6.mt-4.mb-4 Samwise
              .actions.d-flex.justify-content-between.px-4
                %a.action-item{:href => "#"}
                  %i.fa.fa-clipboard-list
                %a.action-item{:href => "#"}
                  %i.fa.fa-bullhorn
                %a.action-item{:href => "#"}
                  %i.fa.fa-calculator