.btn {
  &.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

    &.btn-primary,
    &.btn-success,
    &.btn-info,
    &.btn-warn,
    &.btn-danger {
      .glyphicon {
        color: #fff;
      }
    }

    &.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }

    &.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
    }

    &.btn-primary {
      color: #fff;
      background-color: #1997c6;
      border-color: #1997c6;
    }
  }
}