.error-container
  .inner
    %div
      %h1 Oops!
      %h3 Bad Gateway
      %p.lead The server, while acting as a gateway or proxy, received an invalid response from the upstream server it accessed in attempting to fulfill the request.
      %code Error code: 502