.error-container
  .inner
    %div
      %h1 Oops!
      %h3 Timeout
      %p.lead The client did not produce a request within the time that the server was prepared to wait.
      %code Error code: 408