.error-container
  .inner
    %div
      %h1 Oops!
      %h3 Service Unavailable
      %p.lead The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.
      %code Error code: 503