/ Page content
.page-content
  / Create project modal
  #modal-project-create.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
      .modal-content
        .modal-body
          / Project name
          .form-group
            %label.form-control-label
              Project name
            %input.form-control{:type => "text"}/
          / Project description
          .form-group
            %label.form-control-label.mb-0
              Project description
            %small.form-text.text-muted.mb-2.mt-0
              This textarea will autosize while you type
            %textarea.form-control{"data-toggle" => "autosize", :rows => "1"}
          / Project privacy
          .form-group
            %label.form-control-label
              Project privacy
            .row
              .col-4
                .custom-control.custom-checkbox
                  %input#radio-project-1.custom-control-input{:name => "project-privacy", :type => "radio"}/
                  %label.custom-control-label.form-control-label.text-muted{:for => "radio-project-1"} Private
              .col-4
                .custom-control.custom-checkbox
                  %input#radio-project-2.custom-control-input{:name => "project-privacy", :type => "radio"}/
                  %label.custom-control-label.form-control-label.text-muted{:for => "radio-project-2"} Team
              .col-4
                .custom-control.custom-checkbox
                  %input#radio-project-3.custom-control-input{:checked => "checked", :name => "project-privacy", :type => "radio"}/
                  %label.custom-control-label.form-control-label.text-muted{:for => "radio-project-3"} Public
          / Project members
          .form-group
            %label.form-control-label
              Project members
            %input.form-control{:type => "text"}/
          .list-group.list-group-flush.mb-4
            .list-group-item.px-0
              .row.align-items-center
                .col-auto
                  / Avatar
                  %a.avatar.avatar-sm.rounded-circle{:href => "#"}
                    %img{:alt => "Image placeholder", :src => "../..//assets/img/theme/light/team-1-800x800.jpg"}/
                .col.ml-n2
                  %a.d-block.h6.text-sm.mb-0{:href => "#!"} John Sullivan
                  %p.card-text.text-sm.text-muted.mb-0
                    john@example.com
                .col-auto.text-right
                  %span.text-sm.text-info Team Leader
            .list-group-item.px-0
              .row.align-items-center
                .col-auto
                  / Avatar
                  %a.avatar.avatar-sm.rounded-circle{:href => "#"}
                    %img{:alt => "Image placeholder", :src => "../..//assets/img/theme/light/team-2-800x800.jpg"}/
                .col.ml-n2
                  %a.d-block.h6.text-sm.mb-0{:href => "#!"} Martin Lawrence
                  %p.card-text.text-sm.text-muted.mb-0
                    martin@example.com
                .col-auto.text-right
                  %span.text-sm.text-info Manager
          / Project date
          .form-group
            .row
              .col-12.col-md-6
                / Start date
                .form-group
                  %label.form-control-label
                    Start date
                  %input.form-control{:type => "date"}/
              .col-12.col-md-6
                / Start date
                .form-group
                  %label.form-control-label
                    End date
                  %input.form-control{:type => "date"}/
          / Project tags
          .form-group
            %label.form-control-label
              Project tags
            %input.form-control{"data-toggle" => "tags", :placeholder => "Type here...", :type => "text", :value => "HTML, CSS3, Bootstrap, Photoshop, VueJS"}/
        .modal-footer
          %button.btn.btn-sm.btn-primary.rounded-pill.mr-auto{"data-dismiss" => "modal", :type => "button"} Save
          %button.btn.btn-sm.btn-link.text-muted.px-2{:type => "button"} Archive
          %button.btn.btn-sm.btn-link.text-danger.px-2{:type => "button"} Delete
  / Page title
  .page-title
    .row.justify-content-between.align-items-center
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-start.mb-3.mb-md-0
        / Page title + Go Back button
        .d-inline-block
          %h5.h4.d-inline-block.font-weight-400.mb-0.text-white Hosts
        / Additional info
        .align-items-center.ml-4.d-inline-flex
          %span.h4.text-info.mb-0.mr-2= hosts.items.count
          %span.text-sm.opacity-7.text-white Tracked hosts
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-end
        .actions.actions-dark.d-inline-block
          %a.action-item.ml-md-4{:href => "#"}
            %i.fa.fa-file-export.mr-2>
            Export
          %a.action-item.ml-3{:href => "#"}
            %i.fa.fa-cog.mr-2>
            Settings
        %a.btn.btn-sm.btn-white.btn-icon-only.rounded-circle.ml-4{"data-toggle" => "modal", :href => "#modal-project-create"}
          %span.btn-inner--icon
            %i.fa.fa-plus
  / Listing
  .card
    / Card header
    .card-header.actions-toolbar.border-0
      #actions-search.actions-search
        .input-group.input-group-merge.input-group-flush
          .input-group-prepend
            %span.input-group-text.bg-transparent
              %i.fa.fa-search
          %input.form-control.form-control-flush{:placeholder => "Type and hit enter ...", :type => "text"}
          .input-group-append
            %a.input-group-text.bg-transparent{"data-action" => "search-close", "data-target" => "#actions-search", :href => "#"}
              %i.fa.fa-times
      .row.justify-content-between.align-items-center
        .col
          %h6.d-inline-block.mb-0 Projects
        .col.text-right
          .actions
            %a.action-item.mr-3{"data-action" => "search-open", "data-target" => "#actions-search", :href => "#"}
              %i.fa.fa-search
            .dropdown.mr-3
              %a.action-item{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.fa.fa-filter
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-amount-down>
                  Newest
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-alpha-down>
                  From A-Z
                %a.dropdown-item{:href => "#"}
                  %i.fa.fa-sort-alpha-up>
                  From Z-A
            .dropdown{"data-toggle" => "dropdown"}
              %a.action-item{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.fa.fa-ellipsis-h
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{:href => "#"} Refresh
                %a.dropdown-item{:href => "#"} Manage Widgets
                %a.dropdown-item{:href => "#"} Settings
    = partial :'/partials/list', :locals => { :id => 'hosts', :url => '/hosts', :hosts => hosts }