.dashhead.mb-3
  .dashhead-titles
    %h6.dashhead-subtitle Hosts
    %h2.dashhead-title List
  .dashhead-toolbar
    .btn-group.dashhead-toolbar-item.btn-group-thirds
      %a.btn.btn-outline-primary.active{:href => "/host/add"} Add
.flextable.table-actions{:style => 'display: none;'}
  .flextable-item.flextable-primary
    .btn-toolbar-item.input-with-icon
      %input.form-control.input-block{:placeholder => 'Search hosts', :type => 'text'}
      %span.icon.icon-magnifying-glass
= partial :'/partials/list', :locals => { :id => 'hosts', :url => '/hosts', :hosts => hosts }