%nav.navbar.navbar-expand-sm.fixed-top.navbar-dark.bg-dark.app-navbar
  %a.navbar-brand{:href => '/'}
    %span.icon.icon-leaf.navbar-brand-icon
    AptWatcher

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.mr-auto{'data-active' => (defined? active) ? active : ''}
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'home') ? 'active' : '', 'data-container' => 'body', :href => '/', :title => ''}
          Overview
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'history') ? 'active' : '', 'data-container' => 'body', :href => '/history', :title => ''}
          Scans
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'hosts') ? 'active' : '', 'data-container' => 'body', :href => '/hosts', :title => ''}
          Hosts
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'notifications') ? 'active' : '', 'data-container' => 'body', :href => '/notifications', :title => ''}
          Notifications
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'statistics') ? 'active' : '', 'data-container' => 'body', :href => '/statistics', :title => ''}
          Statistics
      %li.nav-item
        %a.nav-link{:class => ((defined? active) && active === 'users') ? 'active' : '', 'data-container' => 'body', :href => '/users', :title => ''}
          Users
      - if current_user.role == Obscured::Doorman::Roles::ADMIN
        %li.nav-item
          %a.nav-link{:class => ((defined? active) && active === 'errors') ? 'active' : '', :href => '/errors', :title => ''}
            Errors
      - if current_user.role == Obscured::Doorman::Roles::ADMIN
        %li.nav-item
          %a.nav-link{:class => ((defined? active) && active === 'settings') ? 'active' : '', :href => '/settings', :title => ''}
            Settings
      %li.nav-item
        %a.nav-link{:href => Obscured::Doorman.config.paths[:logout], :title => ''}
          Logout
      %li.nav-item
        - if defined? current_user
          %a.nav-link{'data-container' => 'body', 'data-original-title' => "Signed in as #{current_user.username}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', :href => '/users/me', :title => ''}
            %img.rounded-circle{:style => 'max-width:22px;', :alt => current_user.username, :src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.username)}?d=https://img07.deviantart.net/3722/i/2012/096/3/f/homer_simpson___summer_render_by_markus029-d4v74ak.png"}
        - else
          %a.nav-link{'data-container' => 'body', 'data-original-title' => 'Not sigend in', 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', :href => Obscured::Doorman.config.paths[:logout], :title => ''}
            %img.Jrounded-circle{:style => 'max-width:22px;', :alt => 'payway@adeprimo.se', :src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('payway@adeprimo.se')}"}

  - if (searchable rescue false)
    %form.form-inline.d-none.d-md-flex.ml-auto{:action => "#{search_path}", :method => "POST"}
      %input.form-control{"data-action" => "grow", :placeholder => "Search", :name => "query", :type => "text"}