%script{:src => '/assets/purpose.min.js'}
%script{:src => '/assets/obscured.aptwatcher.min.js'}
%script{:src => '/script/password/strength.js'}
%script{:src => '/script/password/jquery.js'}


:javascript
  // Set jQuery.validate settings for bootstrap integration
  /*jQuery.validator.setDefaults({
    highlight: function(element) {
      jQuery(element).closest('.form-group').addClass('has-danger');
    },
    unhighlight: function(element) {
      jQuery(element).closest('.form-group').removeClass('has-danger');
    },
    errorElement: 'span',
    errorClass: 'form-control-feedback',
    errorPlacement: function(error, element) {
      if(element.parent('.input-group').length) {
        error.insertAfter(element.parent());
      } else {
        error.insertAfter(element);
      }
    }
  });
  jQuery.validator.addMethod("slackicon", function(value, element) {
    return (this.optional(element) || (value.startsWith(":") && value.endsWith(":")));
  }, "Must start and end with the character :");*/