%script{:src => '/assets/purpose.core.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js'}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/apexcharts/3.6.12/apexcharts.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.7/flatpickr.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"}


%script{:src => '//kit.fontawesome.com/079c0e1739.js'}