- unless (config.setup_completed rescue false)
  .alert.alert-danger
    %strong Oh snap!
    It looks like you're running a fresh instance/installation of AptWatcher, you need to look through the settings to complete the setup.
    %a{:href => '/settings'} Take me to the settings page!