%script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js'}
%script{:src => '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'}
%script{:src => '//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'}
%script{:src => '/script/toolkit/tablesorter.min.js'}

%link{:href => '//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', :rel => 'stylesheet'}
%link{:href => '/css/toolkit-inverse.min.css', :rel => 'stylesheet'}
%link{:href => '/css/application.css', :rel => 'stylesheet'}
%link{:href => '/css/alert.css', :rel => 'stylesheet'}
%link{:href => '/css/environment.css', :rel => 'stylesheet'}
%link{:href => '/css/error.css', :rel => 'stylesheet'}
%link{:href => '/css/loader.css', :rel => 'stylesheet'}
%link{:href => '/css/social.css', :rel => 'stylesheet'}
%link{:href => '/css/font-awesome.css', :rel => 'stylesheet'}
%link{:href => '/css/label.css', :rel => 'stylesheet'}
%link{:href => '/img/favicon.ico', :rel => 'Obscured.AptWatcher', :type  => 'image/x-icon'}