%link{:href => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.css", :rel => "stylesheet"}
%link{:href => "//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.7/flatpickr.min.css", :rel => "stylesheet"}
%link{:href => "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css", :rel => "stylesheet"}
%link{:href => '/assets/purpose.min.css', :rel => 'stylesheet'}