//%link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', :rel => 'stylesheet'}
//%link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', :rel => 'stylesheet'}
//%link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css', :rel => 'stylesheet'}
//%link{:href => '/css/environment.css', :rel => 'stylesheet'}
//%link{:href => '/css/switch.css', :rel => 'stylesheet'}
//%link{:href => '/css/error.css', :rel => 'stylesheet'}
//%link{:href => '/css/loader.css', :rel => 'stylesheet'}
//%link{:href => '/css/card.css', :rel => 'stylesheet'}
//%link{:href => '/css/cover.css', :rel => 'stylesheet'}
/%link{:href => '/css/button.css', :rel => 'stylesheet'}


%link{:href => 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', :rel => 'stylesheet'}
%link{:href => '/css/toolkit-inverse.min.css', :rel => 'stylesheet'}
%link{:href => '/css/application.css', :rel => 'stylesheet'}