%link{:href => '//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', :rel => 'stylesheet'}
%link{:href => '/assets/style.min.css', :rel => 'stylesheet'}
%link{:href => '/css/toolkit-inverse.min.css', :rel => 'stylesheet'}
%link{:href => '/css/social.css', :rel => 'stylesheet'}
%link{:href => '/img/favicon.ico', :rel => 'Obscured.AptWatcher', :type  => 'image/x-icon'}